<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Admin</div>
	<div th:if="${errorMessage!= null}" class="error-message"
		th:utext="${errorMessage}"></div>

	<h1>this is Admin View</h1>

	<div class="topnav">
		<a class="active" href="#home">Home</a> 
		<a href="/Viewlectuers">View	all Lecturers</a> 
		<a href="/Addlecture">Add New Lecturer </a> 
		<a href="/ViewStudents">View all Students</a> 
		<a href="/adduser">Add New Student </a> <a href="/manage-viewCourse">View all Courses</a> 
		<a href="/manage-addCourse">Add New Course</a>
	</div>
	<br />
	<br />

	<th:block th:include="/_footer"></th:block>

</body>
</html>