<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Course Enrollment Form </title>
        <link rel="stylesheet" th:href="@{/css/custom.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
	<body>
 		<div>
 	<h1>Student Course Enrollment Form</h1>
 	
	     <form action="#" th:action="@{/save}" th:object="${studentCourse}" method="post">
	     
	     <table>
	     <tr>
			<td width="10%">Status :</td>
				
			<td width="90%" align="left">
			<input type="text" th:field="*{status}" />
			<label th:if="${#fields.hasErrors('status')}"  th:errors="*{status}"  th:class="'error'">Error in Status</label></td>
								
		</tr>		
		
		<tr>		
			<td width="10%">CourseID :</td>
				
			<td width="90%" align="left">
			<input type="text" th:field="*{course}" />
			
 			
			<label th:if="${#fields.hasErrors('course')}"  th:errors="*{course}"  th:class="'error'">Error in Status</label></td>
			
		</tr>
					
		<tr>
			
			<td width="10%">UserID :</td>
				
			<td width="90%" align="left">
			<input type="text" th:field="*{userID}" />			
			</td>
			
		</tr>
						
		
		
		<tr>
		<td>	</td>
		<td >
	              <input type="submit" value="Enroll"/> 
	              
	            </td>
	        </tr>
	        
		</table>
		
		
	    
	     </form>
	     </div>
	</body>
</html>