<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Course Enrollment</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<h1 align="center">Course Enrollment</h1>
	<table id="t02" cellpadding="2">
		<tr>

			<th><a align="right" href="/lecturer-course"><h2>Back</h2></a></th>
		</tr>
	</table>
	<table>


	</table>

	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Course ID</th>
				<th>Student ID</th>
				<th>Grade </th>
				<th>Grade Student</th>
				<th>View Student Performance</th>
			</tr>


			<tr th:each="sc : ${list}">
				<td th:text="${sc.course}"></td>
				<td th:text="${sc.user}"></td>
				<td th:text="${sc.grade}"></td>	
				<td><a th:href="@{'/grade-student/' + ${sc.enrollmentID}}">Grade Student</a></td>	
				<td><a th:href="@{'/LecViewStudent/' + ${sc.user}}">View Student Performance</a></td>  
				
				  				  
			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>
