<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Current Courses Enrolled</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<h1 align="center">Current Courses Enrolled</h1>
	<table id="t02" cellpadding="2">
		<tr>
			<th><a href=""><h2>link to somewhere...</h2></a></th>

			<th><a align="right" href="/delete"><h2>link to another
						place...</h2></a></th>
		</tr>
	</table>
	<table>


	</table>

	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Enrollment ID</th>
				<th>Course ID</th>
				<th>Enrollment Date</th>
				<th>Drop</th>

			</tr>


			<tr th:each="studentcourse: ${sclist}">
				<td th:text="${studentcourse.enrollmentID}"></td>
				<td th:text="${studentcourse.course}"></td>
				<td th:text="${studentcourse.EnrollmentDate}"></td>
				
				<td><a
					th:href="@{'/drop-course/' + ${studentcourse.enrollmentID}}">Drop
						Course</a></td>
				
			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>
