<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Course Application Processing System</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">CAPS Online</div>
      <div class="demo-container">
         <h3>CAPS System.....Team 03</h3>
         <ul>
            <li>Student</li>
            <li>Lecturer</li>
            <li>Admin</li>
         </ul>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>