<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lecturer Course</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<h1 align="center">Your Courses</h1>

	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Teaching ID</th>
				<th>Status</th>
				<th>Course ID</th>
				<th>View Course Enrollment</th>
			</tr>


			<tr th:each="lecturercourse : ${list}">
				<td th:text="${lecturercourse.teachingID}"></td>
				<td th:text="${lecturercourse.status}"></td>	
				<td><a th:href="@{'/course-enrollment/' + ${lecturercourse.course}}" th:text="${lecturercourse.course}"  ></a></td>  	
				<td><a th:href="@{'/course-enrollment/' + ${lecturercourse.course}}">View Course Enrollment</a></td>  	
				  
			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>
