<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Course</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<h1 align="center">Manage Course</h1>
		
<div class="topnav">
  		<a href="/">Home</a>
  		<a href="/Viewlectuers">View all Lecturers</a>
 	 	<a href="/Addlecture">Add New Lecturer </a>
 		<a href="/ViewStudents">View all Students</a>
 	 	<a href="/adduser">Add New Student </a>
 	 	<a class="active" href="/manage-viewCourse">View all Courses</a>
 	 	<a href="/manage-addCourse">Add New Course</a>
 	 	<a href="/editEnrollment">Add New Admin</a>
 	 	<a href="/adminEnrollment">Edit Student Enrollment</a>
	</div>
	<br />
	<br />
	
	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Course ID</th>
				<th>Title</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Capacity</th>
				<th>Status</th>
				<th>     </th>

				
			</tr>


			<tr th:each="course: ${list}">
			<td><a th:href="@{'/EnrollLecturerCourse/' + ${course.courseID}}" th:text="${course.courseID}"></a></td>
				<td th:text="${course.Title}"></td>
				<td th:text="${course.StartDate}"></td>
				<td th:text="${course.EndDate}"></td>
				<td th:text="${course.capacity}"></td>
				<td th:text="${course.status}"></td>

				<td><a th:href="@{'/manage-editCourse/'+${course.courseID}}">Edit</a></td>

			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>


