<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Courses Assigned to Lecturers List</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
 <body>
	<h1 align="center">Courses Assigned to Lecturers List</h1>
	
	<div class="topnav">
  		<a href="#home">Home</a>
  		<a href="/Viewlectuers">View all Lecturers</a>
 	 	<a href="/Addlecture">Add New Lecturer </a>
 		<a href="/ViewStudents">View all Students</a>
 	 	<a href="/adduser">Add New Student </a>
 	 	<a href="/manage-viewCourse">View all Courses</a>
 	 	<a href="/manage-addCourse">Add New Course</a>
 	 	<a href="/ListCourses">Assign Lecturer to a Course</a>
 	 	<a class="active" href="/ViewLecturerCourse">View Assigned All Courses</a>
	</div>
	<br />
	<br />
 	<p>This table consists of all assigned courses, including deactivated courses.</p>
	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Teaching ID</th>
				<th>Course ID</th>
				<th>Lecturer ID</th>				
				<th>Status</th>
			</tr>
 			<tr th:each="lc : ${list}">
				<td th:text="${lc.teachingID}"></td>					
				<td th:text="${lc.course}"></td>
				<td th:text="${lc.user}"></td>
				<td th:text="${lc.status}"></td>	
				
				
				
			</tr>
 		</table>
		<br />
	</form:form>
	
</body>
 </html>