<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>View all Lecturers</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1 align="center">All Lecturers</h1>
 		<div class="topnav">
  		<a href="/">Home</a>
  		<a class="active" href="/Viewlectuers">View all Lecturers</a>
 	 	<a href="/Addlecture">Add New Lecturer </a>
 		<a href="/ViewStudents">View all Students</a>
 	 	<a href="/adduser">Add New Student </a>
 	 	<a href="/manage-viewCourse">View all Courses</a>
 	 	<a href="/manage-addCourse">Add New Course</a>
 	 	<a href="/ListCourses">Assign Lecturer to a Course</a>
 	 	<a href="/ViewLecturerCourse">View Assigned Courses</a>
	</div>
	<br />
	<br />
 	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>User ID</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Contact</th>
				<th>Status</th>
				<th></th>
			</tr>
 			<tr th:each="user : ${list}">
				<td th:text="${user.userID}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.contact}"></td>
				<td th:text="${user.status}"></td>
				<td><a th:href="@{'/Editlectuer/' + ${user.userID}}">Edit</a></td>
			</tr>
 		</table>
		<br />
 	</form:form>
 </body>
</html>